@font-face {
  font-family: 'iconfont';  /* Project id 2744173 */
  src: url('//at.alicdn.com/t/font_2744173_ndp8557erz.woff2?t=1645272671831') format('woff2'),
       url('//at.alicdn.com/t/font_2744173_ndp8557erz.woff?t=1645272671831') format('woff'),
       url('//at.alicdn.com/t/font_2744173_ndp8557erz.ttf?t=1645272671831') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}